/* ul {
  list-style: none;
}

header nav ul,
footer nav ul {
  display: flex;
  gap: 2rem;
}

header nav ul {
  justify-content: right;
}

footer nav ul {
  justify-content: center;
}

.avatar {
  max-width: 3rem;
}

a {
  color: rgb(49, 95, 180);
} */

.genre::after {
  content: ',';
 }

.genre:last-of-type::after {
  content: '';
}
